.column {
    width: 100%;
    height: 26rem;
    background: #30364F;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

.column::-webkit-scrollbar {
    width: 2px;
}

.column-header {
    background: #fff7ed;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 15px;
    color: black;
}

.column-header p {
    font-weight: 600;
}

.badge {
    background: #f59e0b;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    font-weight: bold;
}

.message{
    text-align: center;
    margin: 10px 0;
    color: #e6e5e571;
    font-style: italic;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    background: #222636;
    font-size: .9em;
    padding: 15px;
    border-radius: 10px;
    cursor: grab;
    transition: 0.2s;
    border: 1px solid #222636;
}

.task-card:active {
    cursor: grabbing;
}

.task-card:hover {
    border: 1px solid #fe9900;
    background: #2d303c;
}

.edit-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edit-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
}

.task-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-icon {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: .1s;
    font-size: 1.1em;
}

.edit:hover {
    color: #3333ec;
}

.delete:hover {
    color: #f80f0f;
}

.save:hover{
    color: rgb(5, 176, 5);
}

@media (min-width: 768px) {
    .column {
        width: 24rem;
    }
}