.column {
    width: 100%;
    height: 25rem;
    background: #30364F;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    overflow-y: auto;
    position: relative;
}

.column::-webkit-scrollbar {
    width: 2px;
}

.column-header {
    background: #fff7ed;
    border-radius: 0 0 10px 10px;
    border-top: 2px #f59e0b solid;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 15px;
    color: black;
}

.column-header p {
    font-weight: 600;
}

.badge {
    background: #f59e0b;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    font-weight: bold;
}

.message{
    text-align: center;
    margin: 10px 0;
    color: #e6e5e571;
    font-style: italic;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 768px) {
    .column {
        width: 24rem;
    }
}